<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.paywith.fds.mapper.RiskEvaluationDetailMapper">
  <insert id="insert" parameterType="com.paywith.fds.domain.RiskEvaluationDetail" useGeneratedKeys="true" keyProperty="detailId">
    INSERT INTO risk_evaluation_details (evaluation_id, rule_id, score)
    VALUES (#{evaluationId}, #{ruleId}, #{score})
  </insert>
</mapper>
