<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.paywith.fds.mapper.TransactionRiskMapper">
  <update id="updateRiskScore">
    UPDATE transactions
    SET risk_score = #{riskScore}
    WHERE transaction_id = #{transactionId}
  </update>
</mapper>
