<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.paywith.wallet.mapper.WalletMapper">

    <select id="findWalletByUserIdForUpdate" parameterType="Long"
            resultType="com.paywith.wallet.domain.Wallet">
        SELECT
        wallet_id, user_id, balance, status, pin, created_at, updated_at
        FROM wallets
        WHERE user_id = #{userId}
        FOR UPDATE
    </select>

    <select id="findWalletByUserId" resultType="com.paywith.wallet.domain.Wallet">
        SELECT wallet_id, user_id, balance, status, pin, created_at, updated_at
        FROM wallets
        WHERE user_id = #{userId}
    </select>

    <update id="increaseBalance">
        UPDATE wallets
        SET balance = balance + #{amount},
        updated_at = NOW()
        WHERE wallet_id = #{walletId}
    </update>

    <update id="decreaseBalanceIfSufficient">
        UPDATE wallets
        SET balance = balance - #{amount},
        updated_at = NOW()
        WHERE wallet_id = #{walletId}
        AND balance >= #{amount
    </update>

</mapper>